.app-sidebar {
  width: 280px;
}

.nav-item-list {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.nav-item {
  display: flex;
  align-items: center;
  border-style: none;
  border-radius: 5px;
  background-color: transparent;
  margin: 3px;
  text-decoration: none;
  color: white;
  padding: 6px;

  .nav-item-icon {
    margin-right: 10px;
  }

  &.active {
    background-color: #5595ff;
    padding: 5px;
    color: black;
  }
}

.sidenav-content {
  padding: 20px;
}
