@use "@angular/material" as mat;

$custom-dark-primary: mat.define-palette(
  mat.$grey-palette,
  200
); // Or any dark shade you prefer
$custom-dark-accent: mat.define-palette(
  mat.$blue-palette,
  A200,
  A100,
  A400
); // Or any color for accent
$custom-dark-warn: mat.define-palette(mat.$red-palette);

// Define the theme
$custom-theme: mat.define-dark-theme(
  (
    color: (
      primary: $custom-dark-primary,
      accent: $custom-dark-accent,
      warn: $custom-dark-warn,
    ),
  )
);

// Include all component themes
@include mat.all-component-themes($custom-theme);

.special-text {
  color: #85ec5a; // For green text
}

.light-bg {
  background-color: #151e2e;
}

.mat-button-accent,
.mat-flat-button.mat-accent,
.mdc-button--raised.mat-accent,
.mat-stroked-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  color: black !important;
}
